@font-face {
    font-family: 'Alethia Pro';
    src: url('AlethiaPro-Regular.eot');
    src: url('AlethiaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('AlethiaPro-Regular.woff2') format('woff2'),
        url('AlethiaPro-Regular.woff') format('woff'),
        url('AlethiaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

